.DS_Store
*__pycache__*

# Editor settings
.vscode

# Virtual Environments
*venv*
*env*

# Accidental npm install
node_modules/
./package-lock.json


### Backend

# Ignore bundler config.
/api/.bundle

# Ignore the default SQLite database.
/backend/db/*.sqlite3
/backend/db/*.sqlite3-*

# Ignore all logfiles and tempfiles.
/backend/log/*
/backend/tmp/*

# Ignore pidfiles, but keep the directory.
/backend/tmp/pids/*

# Ignore uploaded files in development.
/backend/storage/*
/backend/tmp/storage/*

# Ignore master key for decrypting credentials and more.
/backend/config/master.key
